<div class="m-4">
    <nav class="navbar my-nav navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a href="https://www.lnmiit.ac.in/" class ="navbar-brand"><img class="image"src="images/LNMIITlogo.png" alt="LNMIIT LOGO" ></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" menu collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <ul class="exo-menu">
                    <li><a href="/" class="nav-item nav-link active">Home</a></li>
                    <%- include('../partials/findandborrow.ejs') %>
                    <%- include('../partials/collections.ejs') %>
                    <%- include('../partials/services.ejs') %>
                    <%- include('../partials/researchsupport.ejs') %>
                    <%- include('../partials/about.ejs') %>
                    <li class="nav-item nav-link"><a href="/askus">Ask Us</a></li>
                  </ul>
                  </div>
                <div class="navbar-nav ms-auto">
                   
                      
                    <a href = "/login" onclick="return isUserPresent()" class="nav-item nav-link"><%= name %></a>
                    <script type  = "text/javascript">
                        function isUserPresent () {
                            var parsed_data = '<%- JSON.stringify(LoggedIn) %>' 
                            console.log(parsed_data)
                         if(parsed_data.localeCompare("true") == 0)
                         {
                             console.log("looged in")
                             return false;
                         }
                         return true;
                     
                            //return false;
                            // return true or false, depending on whether you want to allow the `href` property to follow through or not
                        }
                    </script>
                   
                    <div class="btn-group" id="userMenu" style="display: none;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          UserName <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a id="userProfile" href="#">User Profile</a></li>
                          <li><a id="logOut" href="#">Logout</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </nav>
</div>