<!-- <script>
    function reboot() {
        sessionStorage. clear();

        document.cookie = "1P_JAR=akjdsbJKHdjhbk";
document.cookie = "CONSENT=YES+IN.en+20170903-09-0";
var allCookies = document.cookie.split(';');
for (var i = 0; i < allCookies.length; i++)
document.cookie = allCookies[i] + "=;expires="
+ new Date(0).toUTCString();
displayCookies.innerHTML = document.cookie;
location.reload(); 
    }   
</script> -->
<div class="m-4">
    <nav class="navbar my-nav navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a href="https://www.lnmiit.ac.in/" class ="navbar-brand"><img class="image"src="images/LNMIITlogo.png" alt="LNMIIT LOGO" ></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" menu collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <ul class="exo-menu">
                    <li><a href="/" class="nav-item nav-link active">Home</a></li>
                    <%- include('../partials/findandborrow.ejs') %>
                    <%- include('../partials/collections.ejs') %>
                    <%- include('../partials/services.ejs') %>
                    <%- include('../partials/researchsupport.ejs') %>
                    <%- include('../partials/libraryconnect.ejs') %>
                    
                    <%- include('../partials/about.ejs') %>
                    <!-- ///////////////////////////////////////////////////////////////////////////////// -->
                    
                  </ul>
                  <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
                  </div>
                <div class="navbar-nav ms-auto">
                   
                   
                    
                    <% if(LoggedIn){ %>
                        <!-- <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle"  style="color:black;background-color: white;border-color: white;"type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <%= User.Name %>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <li><a class="dropdown-item" href="#" style="color:black">Action</a></li>
                              <li><a class="dropdown-item" href="#" style="color:black">Another action</a></li>
                              <li><a class="dropdown-item" href="#" style="color:black">Something else here</a></li>
                            </ul>
                          </div> -->
                        <div class="navbar-nav">
                            <ul class="exo-menu">
                            <li class="drop-down nav-item nav-link"><a href="#"><%= User.Name %></a>
                                <ul class="drop-down-ul animated fadeIn">
                                <li><a href="#">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                            </ul>
                        </div>
                      <% } else{ %>  
                        <a href = "/login"  class="nav-item nav-link">Login/Register</a>
                     <% } %>
                    <!-- <a href = "/login" onclick="return isUserPresent()" class="nav-item nav-link" id="laura"><%= User.Name %></a>     
                    <script type  = "text/javascript">
                        function isUserPresent () {
                            var parsed_data = '<%- JSON.stringify(LoggedIn) %>' 
                            console.log(parsed_data)
                            if(parsed_data.localeCompare("true") == 0)
                            {
                                var booba = document.getElementById("booba");
                                document.getElementById("laura").value = booba.options[booba.selectedIndex].text;
                                return false;
                            }
                            return true;
                     
                            //return false;
                            // return true or false, depending on whether you want to allow the `href` property to follow through or not
                        }
                    </script> -->
                  
                   
    
                </div>
            </div>
        </div>
    </nav>
</div>

